In [17]:
import pandas as pd
from dbconnection import create_database_connection, read_data_into_dataframe
from dataCleaning import clean_data_based_on_types

ImportError: cannot import name 'clean_data_based_on_types' from 'dataCleaning' (c:\Users\hp\Documents\10 Academy\week 1\Telecommunication User Analytics\src\dataCleaning.py)

In [ ]:
engine = create_database_connection()
df=read_data_into_dataframe(engine, "xdr_data")
#rawdf.head(5)
print(df.head())

      Bearer Id            Start  Start ms              End  End ms  \
0  1.311448e+19   4/4/2019 12:01     770.0  4/25/2019 14:35   662.0
1  1.311448e+19   4/9/2019 13:04     235.0   4/25/2019 8:15   606.0
2  1.311448e+19   4/9/2019 17:42       1.0  4/25/2019 11:58   652.0
3  1.311448e+19   4/10/2019 0:31     486.0   4/25/2019 7:36   171.0
4  1.311448e+19  4/12/2019 20:10     565.0  4/25/2019 10:40   954.0

   Dur. (ms)          IMSI  MSISDN/Number          IMEI  \
0  1823652.0  2.082014e+14   3.366496e+10  3.552121e+13
1  1365104.0  2.082019e+14   3.368185e+10  3.579401e+13
2  1361762.0  2.082003e+14   3.376063e+10  3.528151e+13
3  1321509.0  2.082014e+14   3.375034e+10  3.535661e+13
4  1089009.0  2.082014e+14   3.369980e+10  3.540701e+13

      Last Location Name  ...  Youtube DL (Bytes)  Youtube UL (Bytes)  \
0  9.16456699548519E+015  ...          15854611.0           2501332.0
1                L77566A  ...          20247395.0          19111729.0
2                D42335A  ...          19725661.0          14699576.0
3                T21824A  ...          21388122.0          15146643.0
4                D88865A  ...          15259380.0          18962873.0

   Netflix DL (Bytes)  Netflix UL (Bytes)  Gaming DL (Bytes)  \
0           8198936.0           9656251.0        278082303.0
1          18338413.0          17227132.0        608750074.0
2          17587794.0           6163408.0        229584621.0
3          13994646.0           1097942.0        799538153.0
4          17124581.0            415218.0        527707248.0

   Gaming UL (Bytes)  Other DL (Bytes)  Other UL (Bytes)  Total UL (Bytes)  \
0         14344150.0       171744450.0         8814393.0        36749741.0
1          1170709.0       526904238.0        15055145.0        53800391.0
2           395630.0       410692588.0         4215763.0        27883638.0
3         10849722.0       749039933.0        12797283.0        43324218.0
4          3529801.0       550709500.0        13910322.0        38542814.0

   Total DL (Bytes)
0       308879636.0
1       653384965.0
2       279807335.0
3       846028530.0
4       569138589.0

[5 rows x 55 columns]

Display information about the DataFrame

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300002 entries, 0 to 300001
Data columns (total 55 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Bearer Id                                 298020 non-null  float64
 1   Start                                     300000 non-null  object
 2   Start ms                                  300000 non-null  float64
 3   End                                       300000 non-null  object
 4   End ms                                    300000 non-null  float64
 5   Dur. (ms)                                 300000 non-null  float64
 6   IMSI                                      298862 non-null  float64
 7   MSISDN/Number                             297870 non-null  float64
 8   IMEI                                      298858 non-null  float64
 9   Last Location Name                        297696 non-null  object
 10  Avg RTT DL (ms)                           244344 non-null  float64
 11  Avg RTT UL (ms)                           244378 non-null  float64
 12  Avg Bearer TP DL (kbps)                   300000 non-null  float64
 13  Avg Bearer TP UL (kbps)                   300000 non-null  float64
 14  TCP DL Retrans. Vol (Bytes)               123710 non-null  float64
 15  TCP UL Retrans. Vol (Bytes)               106704 non-null  float64
 16  DL TP < 50 Kbps (%)                       298494 non-null  float64
 17  50 Kbps < DL TP < 250 Kbps (%)            298494 non-null  float64
 18  250 Kbps < DL TP < 1 Mbps (%)             298494 non-null  float64
 19  DL TP > 1 Mbps (%)                        298494 non-null  float64
 20  UL TP < 10 Kbps (%)                       298418 non-null  float64
 21  10 Kbps < UL TP < 50 Kbps (%)             298418 non-null  float64
 22  50 Kbps < UL TP < 300 Kbps (%)            298418 non-null  float64
 23  UL TP > 300 Kbps (%)                      298418 non-null  float64
 24  HTTP DL (Bytes)                           137054 non-null  float64
 25  HTTP UL (Bytes)                           136382 non-null  float64
 26  Activity Duration DL (ms)                 300000 non-null  float64
 27  Activity Duration UL (ms)                 300000 non-null  float64
 28  Dur. (ms).1                               300000 non-null  float64
 29  Handset Manufacturer                      298858 non-null  object
 30  Handset Type                              298858 non-null  object
 31  Nb of sec with 125000B < Vol DL           104926 non-null  float64
 32  Nb of sec with 1250B < Vol UL < 6250B     114214 non-null  float64
 33  Nb of sec with 31250B < Vol DL < 125000B  112830 non-null  float64
 34  Nb of sec with 37500B < Vol UL            39494 non-null   float64
 35  Nb of sec with 6250B < Vol DL < 31250B    123368 non-null  float64
 36  Nb of sec with 6250B < Vol UL < 37500B    76316 non-null   float64
 37  Nb of sec with Vol DL < 6250B             298492 non-null  float64
 38  Nb of sec with Vol UL < 1250B             298416 non-null  float64
 39  Social Media DL (Bytes)                   300002 non-null  float64
 40  Social Media UL (Bytes)                   300002 non-null  float64
 41  Google DL (Bytes)                         300002 non-null  float64
 42  Google UL (Bytes)                         300002 non-null  float64
 43  Email DL (Bytes)                          300002 non-null  float64
 44  Email UL (Bytes)                          300002 non-null  float64
 45  Youtube DL (Bytes)                        300002 non-null  float64
 46  Youtube UL (Bytes)                        300002 non-null  float64
 47  Netflix DL (Bytes)                        300002 non-null  float64
 48  Netflix UL (Bytes)                        300002 non-null  float64
 49  Gaming DL (Bytes)                         300002 non-null  float64
 50  Gaming UL (Bytes)                         300002 non-null  float64
 51  Other DL (Bytes)                          300002 non-null  float64
 52  Other UL (Bytes)                          300002 non-null  float64
 53  Total UL (Bytes)                          300000 non-null  float64
 54  Total DL (Bytes)                          300000 non-null  float64
dtypes: float64(50), object(5)
memory usage: 125.9+ MB

Missing values

In [ ]:
df.isnull().sum()

Bearer Id                                     1982
Start                                            2
Start ms                                         2
End                                              2
End ms                                           2
Dur. (ms)                                        2
IMSI                                          1140
MSISDN/Number                                 2132
IMEI                                          1144
Last Location Name                            2306
Avg RTT DL (ms)                              55658
Avg RTT UL (ms)                              55624
Avg Bearer TP DL (kbps)                          2
Avg Bearer TP UL (kbps)                          2
TCP DL Retrans. Vol (Bytes)                 176292
TCP UL Retrans. Vol (Bytes)                 193298
DL TP < 50 Kbps (%)                           1508
50 Kbps < DL TP < 250 Kbps (%)                1508
250 Kbps < DL TP < 1 Mbps (%)                 1508
DL TP > 1 Mbps (%)                            1508
UL TP < 10 Kbps (%)                           1584
10 Kbps < UL TP < 50 Kbps (%)                 1584
50 Kbps < UL TP < 300 Kbps (%)                1584
UL TP > 300 Kbps (%)                          1584
HTTP DL (Bytes)                             162948
HTTP UL (Bytes)                             163620
Activity Duration DL (ms)                        2
Activity Duration UL (ms)                        2
Dur. (ms).1                                      2
Handset Manufacturer                          1144
Handset Type                                  1144
Nb of sec with 125000B < Vol DL             195076
Nb of sec with 1250B < Vol UL < 6250B       185788
Nb of sec with 31250B < Vol DL < 125000B    187172
Nb of sec with 37500B < Vol UL              260508
Nb of sec with 6250B < Vol DL < 31250B      176634
Nb of sec with 6250B < Vol UL < 37500B      223686
Nb of sec with Vol DL < 6250B                 1510
Nb of sec with Vol UL < 1250B                 1586
Social Media DL (Bytes)                          0
Social Media UL (Bytes)                          0
Google DL (Bytes)                                0
Google UL (Bytes)                                0
Email DL (Bytes)                                 0
Email UL (Bytes)                                 0
Youtube DL (Bytes)                               0
Youtube UL (Bytes)                               0
Netflix DL (Bytes)                               0
Netflix UL (Bytes)                               0
Gaming DL (Bytes)                                0
Gaming UL (Bytes)                                0
Other DL (Bytes)                                 0
Other UL (Bytes)                                 0
Total UL (Bytes)                                 2
Total DL (Bytes)                                 2
dtype: int64

Data frame Summary statistics

In [ ]:
df.describe()

,Bearer Id,Start ms,End ms,Dur. (ms),IMSI,MSISDN/Number,IMEI,Avg RTT DL (ms),Avg RTT UL (ms),Avg Bearer TP DL (kbps),...,Youtube DL (Bytes),Youtube UL (Bytes),Netflix DL (Bytes),Netflix UL (Bytes),Gaming DL (Bytes),Gaming UL (Bytes),Other DL (Bytes),Other UL (Bytes),Total UL (Bytes),Total DL (Bytes)
count,2.980200e+05,300000.000000,300000.000000,3.000000e+05,2.988620e+05,2.978700e+05,2.988580e+05,244344.000000,244378.000000,300000.000000,...,3.000020e+05,3.000020e+05,3.000020e+05,3.000020e+05,3.000020e+05,3.000020e+05,3.000020e+05,3.000020e+05,3.000000e+05,3.000000e+05
mean,1.013887e+19,499.188200,498.800880,1.046086e+05,2.082016e+14,4.188282e+10,4.847455e+13,109.795706,17.662883,13300.045927,...,1.163407e+07,1.100941e+07,1.162685e+07,1.100175e+07,4.220447e+08,8.288398e+06,4.211005e+08,8.264799e+06,4.112121e+07,4.546434e+08
std,2.893168e+18,288.611353,288.097173,8.103749e+04,2.148805e+10,2.447439e+12,2.241633e+13,619.781471,84.793351,23971.838588,...,6.710558e+06,6.345413e+06,6.725207e+06,6.359479e+06,2.439671e+08,4.782692e+06,2.432046e+08,4.768996e+06,1.127637e+07,2.441425e+08
min,6.917538e+18,0.000000,0.000000,7.142000e+03,2.040471e+14,3.360100e+10,4.400152e+11,0.000000,0.000000,0.000000,...,5.300000e+01,1.050000e+02,4.200000e+01,3.500000e+01,2.516000e+03,5.900000e+01,3.290000e+03,1.480000e+02,2.866892e+06,7.114041e+06
25%,7.349883e+18,250.000000,251.000000,5.744050e+04,2.082014e+14,3.365130e+10,3.546071e+13,32.000000,2.000000,43.000000,...,5.833501e+06,5.517965e+06,5.777156e+06,5.475981e+06,2.104733e+08,4.128476e+06,2.101869e+08,4.145943e+06,3.322201e+07,2.431068e+08
50%,7.349883e+18,499.000000,500.000000,8.639900e+04,2.082015e+14,3.366371e+10,3.572201e+13,45.000000,5.000000,63.000000,...,1.161602e+07,1.101345e+07,1.164222e+07,1.099638e+07,4.234081e+08,8.291208e+06,4.218030e+08,8.267071e+06,4.114331e+07,4.558411e+08
75%,1.304243e+19,749.000000,750.000000,1.324302e+05,2.082018e+14,3.368349e+10,8.611970e+13,70.000000,15.000000,19710.750000,...,1.744852e+07,1.651556e+07,1.747048e+07,1.650727e+07,6.331742e+08,1.243162e+07,6.316918e+08,1.238415e+07,4.903424e+07,6.657055e+08
max,1.318654e+19,999.000000,999.000000,1.859336e+06,2.140743e+14,8.823971e+14,9.900120e+13,96923.000000,7120.000000,378160.000000,...,2.325910e+07,2.201196e+07,2.325919e+07,2.201196e+07,8.434419e+08,1.655879e+07,8.434425e+08,1.655882e+07,7.833131e+07,9.029696e+08

In [ ]:
# Calculate the percentage of missing values for each column
missing_percentage = (df.isnull().mean() * 100).round(2)

# Display the result
print("Percentage of missing values for each column:")
print(missing_percentage)

Percentage of missing values for each column:
Bearer Id                                    0.66
Start                                        0.00
Start ms                                     0.00
End                                          0.00
End ms                                       0.00
Dur. (ms)                                    0.00
IMSI                                         0.38
MSISDN/Number                                0.71
IMEI                                         0.38
Last Location Name                           0.77
Avg RTT DL (ms)                             18.55
Avg RTT UL (ms)                             18.54
Avg Bearer TP DL (kbps)                      0.00
Avg Bearer TP UL (kbps)                      0.00
TCP DL Retrans. Vol (Bytes)                 58.76
TCP UL Retrans. Vol (Bytes)                 64.43
DL TP < 50 Kbps (%)                          0.50
50 Kbps < DL TP < 250 Kbps (%)               0.50
250 Kbps < DL TP < 1 Mbps (%)                0.50
DL TP > 1 Mbps (%)                           0.50
UL TP < 10 Kbps (%)                          0.53
10 Kbps < UL TP < 50 Kbps (%)                0.53
50 Kbps < UL TP < 300 Kbps (%)               0.53
UL TP > 300 Kbps (%)                         0.53
HTTP DL (Bytes)                             54.32
HTTP UL (Bytes)                             54.54
Activity Duration DL (ms)                    0.00
Activity Duration UL (ms)                    0.00
Dur. (ms).1                                  0.00
Handset Manufacturer                         0.38
Handset Type                                 0.38
Nb of sec with 125000B < Vol DL             65.02
Nb of sec with 1250B < Vol UL < 6250B       61.93
Nb of sec with 31250B < Vol DL < 125000B    62.39
Nb of sec with 37500B < Vol UL              86.84
Nb of sec with 6250B < Vol DL < 31250B      58.88
Nb of sec with 6250B < Vol UL < 37500B      74.56
Nb of sec with Vol DL < 6250B                0.50
Nb of sec with Vol UL < 1250B                0.53
Social Media DL (Bytes)                      0.00
Social Media UL (Bytes)                      0.00
Google DL (Bytes)                            0.00
Google UL (Bytes)                            0.00
Email DL (Bytes)                             0.00
Email UL (Bytes)                             0.00
Youtube DL (Bytes)                           0.00
Youtube UL (Bytes)                           0.00
Netflix DL (Bytes)                           0.00
Netflix UL (Bytes)                           0.00
Gaming DL (Bytes)                            0.00
Gaming UL (Bytes)                            0.00
Other DL (Bytes)                             0.00
Other UL (Bytes)                             0.00
Total UL (Bytes)                             0.00
Total DL (Bytes)                             0.00
dtype: float64

Cleaning the data frame

In [ ]:
df_cleaned = clean_data_based_on_types(df, drop_threshold=0.9, fill_method='mean')
missing_percentage = (df_cleaned.isnull().mean() * 100).round(2)
print(df_cleaned.head())

NameError: name 'clean_data_based_on_types' is not defined

Display the top 10 handsets

In [ ]:
top_10_handsets = df['Handset Type'].value_counts().head(10).reset_index()
top_10_handsets.columns = ['handset_model', 'total_count']
print(top_10_handsets)

                  handset_model  total_count
0              Huawei B528S-23A        39504
1       Apple iPhone 6S (A1688)        18838
2        Apple iPhone 6 (A1586)        18046
3                     undefined        17974
4        Apple iPhone 7 (A1778)        12652
5       Apple iPhone Se (A1723)        10374
6        Apple iPhone 8 (A1905)         9986
7       Apple iPhone Xr (A2105)         9136
8  Samsung Galaxy S8 (Sm-G950F)         9040
9        Apple iPhone X (A1901)         7626

Top 3 handset manufacturers

In [ ]:
top_3_Manufacturer = df['Handset Manufacturer'].value_counts().head(3).reset_index()
top_3_Manufacturer.columns = ['Handset Manufacturer', 'total_count']
print(top_3_Manufacturer)

      Handset Manufacturer  total_count
0         Huawei B528S-23A        39504
1  Apple iPhone 6S (A1688)        18838
2   Apple iPhone 6 (A1586)        18046

Identify the top 5 handsets per top 3 handset manufacturer

In [ ]:

# Extract manufacturer information from the 'handset_model' column
df['Handset Manufacturer'] = df['Handset Type'].str.split('_').str[0]

# Get the top 3 handset manufacturers
top_manufacturers = df['Handset Manufacturer'].value_counts().head(3).index

# Create an empty DataFrame to store the top 5 handsets for each manufacturer
top_handsets_per_manufacturer = pd.DataFrame(columns=['Handset Manufacturer', 'total_count'])

# Iterate through the top manufacturers and find the top 5 handsets for each
for manufacturer in top_manufacturers:
    # Filter the DataFrame for the current manufacturer
    manufacturer_df = df[df['Handset Manufacturer'] == manufacturer]
    
    # Get the top 5 handsets for the current manufacturer
    top_handsets = manufacturer_df['Handset Manufacturer'].value_counts().head(5).reset_index()
    top_handsets.columns = ['Handset Type', 'total_count']
    top_handsets['Handset Manufacturer'] = manufacturer
    
    # Append the result to the main DataFrame
    top_handsets_per_manufacturer = pd.concat([top_handsets_per_manufacturer, top_handsets])

# Display the top 5 handsets for each of the top 3 manufacturers
print(top_handsets_per_manufacturer)

      Handset Manufacturer total_count             Handset Type
0         Huawei B528S-23A       39504         Huawei B528S-23A
0  Apple iPhone 6S (A1688)       18838  Apple iPhone 6S (A1688)
0   Apple iPhone 6 (A1586)       18046   Apple iPhone 6 (A1586)

In [ ]:
import pandas as pd

# Assuming df is your DataFrame with a column 'handset_model'
# Extract manufacturer information from the 'handset_model' column
#df['Handset Manufacturer'] = df['Handset Manufacturer'].str.split('_').str[0]

# Get the top 3 handset manufacturers
top_manufacturers = df['Handset Manufacturer'].value_counts().head(3).index

# Filter the DataFrame for the top 3 manufacturers
filtered_df = df[df['Handset Manufacturer'].isin(top_manufacturers)]

# Get the top 5 handsets for each manufacturer
top_handsets_per_manufacturer = (
    filtered_df.groupby(['Handset Manufacturer', 'Handset Type'])
               .size()
               .reset_index(name='total_count')
               .sort_values(by='total_count', ascending=False)
               .groupby('Handset Manufacturer')
               .head(5)
)

# Display the top 5 handsets for each of the top 3 manufacturers
print(top_handsets_per_manufacturer)

      Handset Manufacturer             Handset Type  total_count
2         Huawei B528S-23A         Huawei B528S-23A        39504
1  Apple iPhone 6S (A1688)  Apple iPhone 6S (A1688)        18838
0   Apple iPhone 6 (A1586)   Apple iPhone 6 (A1586)        18046

Aggregate per user

In [ ]:

# Group by 'user' and sum the number of xDR sessions for each user
aggregated_df = df.groupby('Bearer Id')['Dur. (ms)'].sum().reset_index()

# Display the aggregated DataFrame
print(aggregated_df)

           Bearer Id  Dur. (ms)
0       6.917538e+18    49068.0
1       6.917538e+18    42978.0
2       6.917538e+18    55572.0
3       6.917538e+18    31270.0
4       6.917538e+18    48528.0
...              ...        ...
134703  1.318654e+19   160048.0
134704  1.318654e+19   290582.0
134705  1.318654e+19   172798.0
134706  1.318654e+19   172798.0
134707  1.318654e+19   206226.0

[134708 rows x 2 columns]